{% extends 'static/html/mainframe.html' %}

{% load bootstrap4 %}

{% block main_content %}
    <br/>
    <a href="
        {% if for_saving_query|default:'' %}
            {% ifequal for_saving_query '?' %}
                {% url 'operation_timing:index' %}
            {% else %}
                {% url 'operation_timing:query' %}{{ for_saving_query }}
            {% endifequal %}
        {% else %}
            {% url 'operation_timing:index' %}
        {% endif %}
    "><button class="btn btn-primary" ><span class="glyphicon glyphicon-chevron-left"></span> Back</button></a>
    <hr/>
    <form id="operation_timing_form">
        Dữ liệu về công suất Lò phản ứng từ ngày <input id="operation_timing_from_date" type="date" required /> đến hiện tại sẽ bị xóa hoàn toàn.
        </br>
        <input type="submit" class="btn btn-primary" value="Đồng ý" />
        </br></br>
    </form>

    <script>
        $('#operation_timing_form').submit(function(event){
            event.preventDefault();
            var date = $('#operation_timing_from_date').val();
            $.ajax({
                url: '{%url "operation_timing:delete"%}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'date': date
                },
                type: 'POST',
                success: function(data){
                    if(data.error){
                        alert(data.error);
                    }else{
                        window.location.assign("{% url 'operation_timing:index' %}");
                    }
                },
                error: function(){
                    alert("Có lỗi xảy ra nhưng chưa xác định được");
                }
            });
        });
    </script>
{% endblock %}