{% extends 'static/html/mainframe.html' %}

{% load bootstrap4 %}

{% block main_content %}
    <!-- TITLE -->
    <div class="text-primary" style="text-align:center;margin-top:20px;">
        <h4><b>THỐNG KÊ</br>THỜI GIAN VẬN HÀNH</b></h4>
    </div>
    <!-- /TITLE -->

    <!-- FORM -->
    {% if data_from_file %}
        {% if user.is_superuser %} {# is_superuser is_authenticated #}
            <a href="{% url 'operation_timing:append_data_from_file' %}">
                Thêm dữ liệu từ file
            </a>
            </br></br>
        {% endif %}
    {% endif %}

    <div class="clearfix">
        <div style="float:left; margin:20px 20px 0px 0px; width:25%;">
            <!-- Mot so chuc nang cho form -->
            <a href="#" onclick="fill_this_month()">
                <p>
                    <span class="glyphicon glyphicon-time"></span> Tháng này
                </p>
            </a>
            <a href="#" onclick="fill_this_year()">
                <p>
                    <span class="glyphicon glyphicon-time"></span> Năm này
                </p>
            </a>
            <a href="#" onclick="fill_all_date_in_database()">
                <p>
                    <span class="glyphicon glyphicon-time"></span> Toàn bộ thời gian có trong cơ sở dữ liệu
                </p>
            </a>
            <!-- /Mot so chuc nang cho form -->
        </div>

        <div style="float:left; width:50%;">
            <form action="{% url 'operation_timing:query' %}" method='get' class="form">
                {% bootstrap_form query_form %}
                {% buttons %}
                    <button name="submit" class="btn btn-primary">Xem</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <!-- /FORM -->


    <!-- SHOW QUERIED DATA -->
    {% if send_data|default:'' or send_data_total|default:'' %}
        <hr class="hr-divider" />
        <a href="#" onclick="print_element()">
            <button class="btn btn-primary" >
                <span class="glyphicon glyphicon-print"></span> In
            </button>
        </a>
        <hr/>
    {% endif %}
    <div id="id_for_printing">
        <tt>
            {% if send_data|default:'' %}
                <style>
                    th {
                        text-align:center !important;
                        vertical-align:middle !important;
                        border:1px solid !important;
                    }
                    td {
                        text-align:center !important;
                        border-left: 1px solid !important;
                        border-right: 1px solid !important;
                        border-top: none !important;
                    }
                </style>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead style="display:table-header-group;">
                            <tr>
                                <th>Date</th>
                                <th>P x t</br>(kW) (min)</th>
                                <th>&#8721; P.t</br>(MWd)</th>
                                <th>&#8721;&#8721; P.t</br>(MWd)</th>
                                <th>U<sup>235</sup></br>(g)</th>
                                <th>T<sub>op</sub></br>(min)</th>
                                <th>&#8721; T<sub>op</sub></br>(hr)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for group in send_data %}
                                {% for row in group.2 %}
                                    <tr>
                                        <td>
                                            {% ifequal forloop.counter 1 %}
                                                {% ifequal group.0 group.1 %}
                                                    ** {{ group.0|date:"m/d/y" }}
                                                {% else %}
                                                    <span>Fr {{ group.0|date:"m/d/y" }}</span>
                                                {% endifequal %}
                                            {% else %}
                                                {% ifequal forloop.counter 2 %}
                                                    {% ifequal group.0 group.1 %}
                                                    {% else %}
                                                        <span>To {{ group.1|date:"m/d/y" }}</span>
                                                    {% endifequal %}
                                                {% endifequal %}
                                            {% endifequal %}
                                        </td>
                                        <td>
                                            <span class="multi-space">{{ row.0|stringformat:".1f"|slice:":3" }} x {{ row.1|ljust:"5" }}</span>
                                        </td>
                                        <td>
                                            {% if forloop.last %}
                                                {{ group.3|stringformat:".5f" }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if forloop.last %}
                                                {{ group.4|stringformat:".5f" }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if forloop.last %}
                                                {{ group.5|stringformat:".4f" }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if forloop.last %}
                                                <span class="multi-space">{{ group.6|rjust:"5" }}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if forloop.last %}
                                                <span class="multi-space">{{ group.7|rjust:"7" }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if send_data_total|default:'' %}
                <div style="text-align:center;">
                    <span>***********************************************</span>
                    </br>
                    <span class="multi-space">*{{ ""|rjust:"10" }}FROM {{ send_data_total.0|date:"m/d/y" }} TO {{ send_data_total.1|date:"m/d/y" }}{{ ""|rjust:"10" }}*</span>
                    </br>
                    <span class="multi-space">*{{ ""|rjust:"10" }}-------------------------{{ ""|rjust:"10" }}*</span>
                    </br>
                    <span class="multi-space">* Operation Time (at P &ge; 2.5 kW), h{{ send_data_total.2|stringformat:".0f"|rjust:"11" }}*</span>
                    </br>
                    <span class="multi-space">* Release Thermal Energy, MWd{{ send_data_total.3|stringformat:".3f"|rjust:"17" }}*</span>
                    </br>
                    <span class="multi-space">* Burn-up of U-235, g{{ send_data_total.4|stringformat:".3f"|rjust:"25" }}*</span>
                    </br>
                    <span>***********************************************</span>
                    </br></br>
                </div>
            {% endif %}
        </tt>
    </div>
    <!-- /SHOW QUERIED DATA -->

    <script>
        function fill_this_month(){
            var today = new Date();
            var the_last_of_month = new Date(today.getFullYear(), today.getMonth()+1, 0);
            $('#id_fromDate').val(
                today.getFullYear() + '-' + String(today.getMonth() + 1).leftJustify(2, '0') + '-' + '01'
            );
            $('#id_toDate').val(
                the_last_of_month.getFullYear() + '-' +
                String(the_last_of_month.getMonth() + 1).leftJustify(2, '0') + '-' +
                String(the_last_of_month.getDate()).leftJustify(2, '0')
            );
        }

        function fill_this_year(){
            var this_year = new Date().getFullYear();
            $('#id_fromDate').val(
                this_year + '-01-01'
            );
            $('#id_toDate').val(
                this_year + '-12-31'
            );
        }

        function fill_all_date_in_database(){

            $('#id_fromDate').val(
                '{{ first_day|date:"Y-m-d" }}'
            );
            $('#id_toDate').val(
                '{{ last_day|date:"Y-m-d" }}'
            );
        }
    </script>
{% endblock %}