<hr class=".bg-primary" style="border:1px solid #007bff;"/>
<a href="" onclick="print_events()"><button class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> In</button></a>

<hr/>
<div id="events_list">
    {% for event in events %}
        <div>
            <div class="clearfix">
                <div style="float:left;">
                    <b>{{ event.date|date:"Y-m-d" }}</b>
                    </br><small><i>Created by {{ event.owner.username }}</i></small>
                    </br><small><i>{{ event.date_added }}</i></small>
                </div>
                <div style="float:right;">
                    {% ifequal user event.owner %}
                        <a class="label label-success" href="{% url 'events:edit_event' event.id %}{{ for_saving_query }}"><span class="glyphicon glyphicon-edit"></span> Sửa</a>
                        <button class="btn btn-danger label" onclick="del_event({{ event.id }})" href="#"><span class="glyphicon glyphicon-remove"></span> Xóa</button>
                    {% endifequal %}
                </div>
            </div>
            <br/>
            <tt>
                <div style="white-space:pre;">{{ event.description }}</div>
            </tt>
            {% if event.incident %}
                <a class="label label-primary" href="{% url 'events:query_event' %}?incident=on"># Có sự cố</a>
            {% endif %}
        </div>
        {%if forloop.last%}{%else%}<hr style="page-break-before: always"/>{%endif%}
    {% endfor %}
</div>

<hr/>
<div style="text-align:right;">
    <ul class="pagination">
        {% ifequal page_number 0 %}
            <li class="disabled"><span>&lt;&lt;</span></li>
            <li class="disabled"><span>&lt;</span></li>
        {% else %}
            <li><a href="{% url 'events:query_event' %}{{ for_saving_query }}&page_number=0">&lt;&lt;</a></li>
            <li><a href="{% url 'events:query_event' %}{{ for_saving_query }}&page_number={{ page_number|add:-1 }}">&lt;</a></li>
        {% endifequal %}
        <li class="active"><span>{{ page_number|add:1 }}/{{ max_page|add:1 }}</span></li>
        {% ifequal page_number max_page %}
            <li class="disabled"><span>&gt;</span></li>
            <li class="disabled"><span>&gt;&gt;</span></li>
        {% else %}
            <li><a href="{% url 'events:query_event' %}{{ for_saving_query }}&page_number={{ page_number|add:1 }}">&gt;</a></li>
            <li><a href="{% url 'events:query_event' %}{{ for_saving_query }}&page_number={{ max_page }}">&gt;&gt;</a></li>
        {% endifequal %}
    </ul>
</div>

<script>
    function print_events(){
        var temp = $('body').html();
        $('body').html($('#events_list').html());
        window.print()
        $('body').html(temp);
    }
    function del_event(event_id){
        if(confirm('Chắc chắn xóa?')){
            $.ajax({
                url: '{% url "events:del_event" %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'event_id': event_id
                },
                type: 'POST',
                success: function (data) {
                    window.location.reload();
                },
                error: function(){
                    alert('Có lỗi xảy ra nhưng chưa xác định được');
                }
            });
        }
    }
</script>
