{% extends 'static/html/mainframe.html' %}

{% load bootstrap4 %}

{% block main_content %}
    <br/>
    <a href="
        {% if for_saving_query|default:'' %}
            {% ifequal for_saving_query '?' %}
                {% url 'events:index' %}
            {% else %}
                {% url 'events:query_event' %}{{ for_saving_query }}
            {% endifequal %}
        {% else %}
            {% url 'events:index' %}
        {% endif %}
    "><button class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Back</button></a>
    <hr/>
    <tt>
        <form action="{% url 'events:edit_event' event_id %}{{ for_saving_query }}" method='post' class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button name="submit" class="btn btn-primary">Lưu</button>
            {% endbuttons %}
        </form>
    </tt>
{% endblock %}