{% extends 'static/html/mainframe.html' %}

{% load bootstrap4 %}

{% block main_content %}
    <!-- TITLE -->
    <div class="text-primary" style="text-align:center;margin-top:20px;">
        <h4><b>NHẬT KÝ VẬN HÀNH</b></h4>
    </div>
    <!-- /TITLE -->

    <!-- FORM -->
    {% if data_from_file %}
        {% if user.is_superuser %} {# is_superuser is_authenticated #}
            <a href="{% url 'events:append_data_from_file' %}">
                Thêm dữ liệu từ file
            </a>
            </br></br>
        {% endif %}
    {% endif %}
    <div class="clearfix">
        <div style="float:left; margin:20px 20px 0px 0px; width:25%;">
            <!-- Mot so chuc nang cho form -->
            <a href="#" onclick="fill_today()">
                <p>
                    <span class="glyphicon glyphicon-time"></span> Hôm nay
                </p>
            </a>
            <a href="#" onclick="fill_this_month()">
                <p>
                    <span class="glyphicon glyphicon-time"></span> Tháng này
                </p>
            </a>
            <a href="#" onclick="fill_this_year()">
                <p>
                    <span class="glyphicon glyphicon-time"></span> Năm này
                </p>
            </a>
            <a href="#" onclick="fill_all_date_in_database()">
                <p>
                    <span class="glyphicon glyphicon-time"></span> Toàn bộ thời gian có trong cơ sở dữ liệu
                </p>
            </a>
            <!-- /Mot so chuc nang cho form -->
        </div>

        <div style="float:left; width:50%;">
            <form action="{% url 'events:query' %}" method='get' class="form">
                {% bootstrap_form query_form %}
                {% buttons %}
                    <button name="submit" class="btn btn-primary">Xem</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <!-- /FORM -->

    <!-- SHOW QUERIED DATA -->
    {% if events %}
        <hr class="hr-divider" />
        <a href="" onclick="print_element()">
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-print"></span> In
            </button>
        </a>
        <hr/>
        <div id="id_for_printing">
            <div id="image-gallery-3" class="cf" style="text-align:center;">
                {% load custom_filters %}
                {% for event in events %}
                    {% for link in event.description|linebreaksbr|split:'<br>' %}
                        <img src={{link}} data-high-res-src={{link}} alt="Image not found" class="pannable-image">
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <!-- PAGE NUMBER -->
        <hr/>
        <div style="text-align:right;">
            <ul class="pagination">
                {% ifequal page_number 0 %}
                    <li class="disabled"><span>&lt;&lt;</span></li>
                    <li class="disabled"><span>&lt;</span></li>
                {% else %}
                    <li><a href="{% url 'events:query' %}?{{ for_saving_query }}&page_number=0">&lt;&lt;</a></li>
                    <li><a href="{% url 'events:query' %}?{{ for_saving_query }}&page_number={{ page_number|add:-1 }}">&lt;</a></li>
                {% endifequal %}
                <li class="active"><span>{{ page_number|add:1 }}/{{ max_page|add:1 }}</span></li>
                {% ifequal page_number max_page %}
                    <li class="disabled"><span>&gt;</span></li>
                    <li class="disabled"><span>&gt;&gt;</span></li>
                {% else %}
                    <li><a href="{% url 'events:query' %}?{{ for_saving_query }}&page_number={{ page_number|add:1 }}">&gt;</a></li>
                    <li><a href="{% url 'events:query' %}?{{ for_saving_query }}&page_number={{ max_page }}">&gt;&gt;</a></li>
                {% endifequal %}
            </ul>
        </div>
        <!-- /PAGE NUMBER -->

        <!-- LOAD IMAGE-VIEWER >
        {% load static %}
        <link rel="stylesheet" href="{% static 'image_viewer/iv-viewer.min.css' %}"/>
        <script src="{% static 'image_viewer/iv-viewer.min.js' %}"></script>
        <script>
            Array.from(document.querySelectorAll(".pannable-image")).forEach(elem => {new ImageViewer(elem);});
        </script>
        <!- /LOAD IMAGE-VIEWER -->
    {% endif %}
    <!-- /SHOW QUERIED DATA -->

    <script>
        function fill_today(){
            var today = new Date();
            $('#id_fromDate').val(
                today.getFullYear() + '-' +
                String(today.getMonth() + 1).leftJustify(2, '0') + '-' +
                String(today.getDate()).leftJustify(2, '0')
            );
            $('#id_toDate').val(
                today.getFullYear() + '-' +
                String(today.getMonth() + 1).leftJustify(2, '0') + '-' +
                String(today.getDate()).leftJustify(2, '0')
            );
        }

        function fill_this_month(){
            var today = new Date();
            var the_last_of_month = new Date(today.getFullYear(), today.getMonth()+1, 0);
            $('#id_fromDate').val(
                today.getFullYear() + '-' + String(today.getMonth() + 1).leftJustify(2, '0') + '-' + '01'
            );
            $('#id_toDate').val(
                the_last_of_month.getFullYear() + '-' +
                String(the_last_of_month.getMonth() + 1).leftJustify(2, '0') + '-' +
                String(the_last_of_month.getDate()).leftJustify(2, '0')
            );
        }

        function fill_this_year(){
            var this_year = new Date().getFullYear();
            $('#id_fromDate').val(
                this_year + '-01-01'
            );
            $('#id_toDate').val(
                this_year + '-12-31'
            );
        }

        function fill_all_date_in_database(){

            $('#id_fromDate').val(
                '{{ first_day|date:"Y-m-d" }}'
            );
            $('#id_toDate').val(
                '{{ last_day|date:"Y-m-d" }}'
            );
        }
    </script>
{% endblock %}