<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- HEADER -->
        <div class="navbar-header">

            <!-- BRAND -->
            <a class="navbar-brand" href="{% url 'homepage:index' %}" style="font-size:2em;">
                Reactor Center
            </a>
            <!-- /BRAND -->

            <!-- Thu nho cac muc tren thanh tieu de thanh mot nut bam khi hien thi tren man hinh nho -->
            <button type="button" class="navbar-toggle navbar-right " data-toggle="collapse" data-target="#bs-example-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- /HEADER -->

        <!-- NAVBAR BODY -->
        <div class="navbar-right navbar-collapse collapse" id="bs-example-navbar-collapse">
            <ul class="nav navbar-nav">

                <!-- MENU -->
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        Danh mục <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="visibility: visible;">
                        <!--li><a href="{% url 'events:index' %}">Nhật ký vận hành</a></li-->
                        <li class="divider"></li>
                        <li><a href="{% url 'operation_timing:index' %}">Thống kê thời gian vận hành</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'excess_reactivity:index' %}">Độ phản ứng dự trữ</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'library:index' %}">Thư viện</a></li>
                    </ul>
                </li>
                <!-- /MENU -->

                <!-- USER -->
                {# Kiem tra nguoi dung co dang nhap hay khong #}
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            {{ user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- CHANGE PASSWORD -->
                                <a href="" data-toggle="modal" data-target="#changePassPanel">Thay đổi mật khẩu</a>
                                <!-- /CHANGE PASSWORD -->
                            </li>
                            <li class="divider"></li>
                            <li>
                                <!-- LOGOUT -->
                                <a href="" onclick="logout()">Thoát</a>
                                <!-- /LOGOUT -->
                            </li>
                        </ul>
                    </li>
                {%else%}
                    <li>
                        <!-- LOGIN PANEL -->
                        <a href="" data-toggle="modal" data-target="#loginPanel">Đăng nhập</a>
                        <!-- /LOGIN PANEL -->
                    </li>
                {%endif%}
                <!-- /USER -->

            </ul>

            {% if request.user.is_staff %}
                <p class="navbar-text"><a href="/admin" target="_blank">Admin Site</a></p>
            {%endif%}
        </div>
        <!-- /NAVBAR BODY -->
    </div>
</div>

{% if user.is_authenticated %}
    <!-- CHANGING PASSWORD PANEL -->
    <div class="modal" id="changePassPanel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header  bg-primary"></div>
                <div class="modal-body" style="text-align:center;">
                    <form id="ChangePassForm">
                        <div id="changePass_status"></div>
                        <input class="form-control" type="password" id="changePass_oldPass" placeholder="Mật khẩu hiện tại" required autofocus/>
                        </br>
                        <input class="form-control" type="password" id="changePass_newPass" placeholder="Mật khẩu mới" required/>
                        </br>
                        <input class="form-control" type="password" id="changePass_newPass2" placeholder="Nhập lại mật khẩu mới" required/>
                        </br>
                        <button class="btn btn-primary" type="submit">Đổi mật khẩu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("ChangePassForm").onsubmit = function(event){
            // Khong cho load trang khi submit
            event.preventDefault();
            // Use AJAX to change password
            var password = $("#changePass_oldPass").val();
            var new_password = $("#changePass_newPass").val();
            var new_password2 = $("#changePass_newPass2").val();
            if(new_password === new_password2){
                $.ajax({
                    url: '{%url "accounts:change_password"%}',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'password': password,
                        'new_password' : new_password
                    },
                    type: 'POST',
                    success: function (data) {
                        if (data.status === ''){
                            window.location.reload();
                        } else {
                            $('#changePass_status').html('<p id="login_status" style="margin:10px auto;color:#f00;text-align:left;">* ' + data.status + '</p>');
                            $("#changePass_newPass").val('');
                            $("#changePass_newPass2").val('');
                            $("#changePass_oldPass").val('');
                            $("#changePass_oldPass").focus();
                        }
                    },
                    error: function(){
                        $('#changePass_status').html('<p id="login_status" style="margin:10px auto;color:#f00;text-align:left;">* Có lỗi xảy ra nhưng chưa xác định được</p>');
                    }
                });
            } else {
                $('#changePass_status').html('<p id="login_status" style="margin:10px auto;color:#f00;text-align:left;">* Mật khẩu mới nhập lại không khớp</p>');
                $("#changePass_newPass").val('');
                $("#changePass_newPass2").val('');
                $("#changePass_newPass").focus();
            }
        };

        // Focus to first input
        $('#changePassPanel').on('shown.bs.modal', function(e){
            $("#changePass_oldPass").focus();
        });

        // Delete content of status
        $('#changePassPanel').on('hidden.bs.modal', function(e){
            $('#changePass_status').html('');
            $("#changePass_newPass").val('');
            $("#changePass_newPass2").val('');
            $("#changePass_oldPass").val('');
        });

        function logout(){
            $.ajax({
                url: '{%url "accounts:logout"%}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                type: 'POST',
                error: function(){
                    alert("Có lỗi xảy ra trong khi logout");
                }
            });
            window.location.reload();
        }
    </script>
    <!-- /CHANGING PASSWORD PANEL -->
{%else%}
    <div class="modal" id="loginPanel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-primary"></div>
                <div class="modal-body" style="text-align:center;">
                    <form id="LoginForm">
                        <div id="login_status"></div>
                        <input class="form-control" type="text" id="login_username" placeholder="Tên đăng nhập" required/>
                        </br>
                        <input class="form-control" type="password" id="login_password" placeholder="Mật khẩu" required/>
                        </br>
                        <button class="btn btn-primary" type="submit">Đăng nhập</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("LoginForm").onsubmit = function(event){
            // Khong cho load trang khi submit
            event.preventDefault();
            // Use AJAX to login
            var username = $("#login_username").val();
            var password = $("#login_password").val();
            $.ajax({
                url: '{%url "accounts:login"%}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'username': username,
                    'password': password
                },
                type: 'POST',
                success: function (data) {
                    if (data.status === ''){
                        window.location.reload();
                    } else {
                        $('#login_status').html('<p id="login_status" style="margin:10px auto;color:#f00;text-align:left;">* ' + data.status + '</p>');
                        $("#login_password").val('');
                        $("#login_username").focus();
                    }
                },
                error: function(){
                    $('#login_status').html('<p id="login_status" style="margin:10px auto;color:#f00;text-align:left;">* Có lỗi xảy ra nhưng chưa xác định được</p>');
                }
            });
        };

        // Focus to username field
        $('#loginPanel').on('shown.bs.modal', function(e){
            $("#login_username").focus();
        });

        // Delete content of status
        $('#loginPanel').on('hidden.bs.modal', function(e){
            $('#login_status').html('');
            $("#login_password").val('');
        });
    </script>
{%endif%}
